.dashboard-content-wrapper {
    padding: 20px;
}

.dashboard-welcome {
    margin-bottom: 20px;
}

.calendar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    width: 100%;
    max-width: 100%;
}

.react-calendar {
    width: 100%;
    max-width: 100%;
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.react-calendar__navigation button {
    color: #05090de4;

}

.react-calendar__tile--active {
    color: white;
    border-radius: 50px;
    font-weight: bold;
}

.react-calendar__tile--now {
    background: #8CC38E;
    color: white;
    border-radius: 50px;
    font-weight: bold;

}

.exam-dot {
    height: 8px;
    width: 8px;
    background-color: #dc3545;
    border-radius: 50%;
    margin: 0 auto;
}

.selected-date-info {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.selected-date-info h3 {
    margin-top: 0;
    color: #333;

}

.exam-detailss {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-size: 12px;
    color: #050505;
    flex-direction: column;
}

.exam-details p {
    margin-bottom: 5px;
    display: block;
}

.exam-view-btn {
    margin-top: 12px;
    padding: 8px 20px;
    background: #ff9900;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    align-self: flex-start;
}

.react-calendar__tile:enabled:hover {
    background: #e0e0e0;
    color: #333;
    border-radius: 50px;
    font-weight: bold;
    transition: background 0.2s;
}